/* Start of Transitions  */

.page-enter-active, .page-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.page-enter-active {
  transition-delay: .25s;
}

.page-enter, .page-leave-active {
  opacity: 0
}

/* End of Transitions  */

/* Start of General components */

html {
  height:100%;
}

body {
  background-color: white;
  height: 100%;
}

button {
  height:34px;
}

/* End of General components*/

.fa-icon {
  height: 100%;
  vertical-align: middle;
}

#wrapper {
  width: 100%;
  flex: 1 0 auto;
}
#page-wrapper {
  margin-top
  padding: 0 15px;
  background-color: white;
  position: relative;
  min-height:500px;
}
@media (min-width: 768px) {
  #page-wrapper {
    padding: 15px 30px;
  }
}

.sidebar {
  background-color: #ffffff;
}

.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .sidebar-search {
  padding: 15px;
}
.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
  }
}

.overlay {
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  margin:0;
  text-align: center;
  height:100%;
}

.overlay .fa-icon {
  width: 200px;
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-primary.btn-outline {
  color: #428bca;
}
.btn-success.btn-outline {
  color: #5cb85c;
}
.btn-info.btn-outline {
  color: #5bc0de;
}
.btn-warning.btn-outline {
  color: #f0ad4e;
}
.btn-danger.btn-outline {
  color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.huge {
  font-size: 40px;
}

.v-select button.clear {
  display: none
}

.v-select input.form-control {
  width: 0!important;
}

.v-select.open input.form-control {
  width: 100%!important;
}

.dropdown-menu > li > div {
  padding: 15px;
}

/* Start of Navbar  */
.nav > li > .dropdown > a {
  position: relative;
  display: block;
  padding: 15px;
}

.navbar-default .navbar-nav > li .dropdown > a {
  color: #777;
}

.navbar-top-links {
  margin-right: 0;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 15px;
}
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
  color: #777;
}

.navbar-top-links .dropdown-menu li {
  display: block;
  width: 300px;
}
/* End of Navbar  */

/* Start of media print */
@media print {
  footer {
   display:none;
  }
}
/* End of media print */